{% extends 'PatoCoreBundle::layout.html.twig' %}

{% block body %}

<h1 class="page-title">{{ "Configuration"|trans }}</h1>

    <ul>
        <li><a href="{{ path('users') }}">Usuarios e permissoes</a></li>
    </ul>

{% endblock %}
