/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/composer.lock
/oceano_vermelho
/pauta_reuniao
/banco.sql
/melhorias_futuras.txt