{% extends 'PatoCoreBundle::layout.html.twig' %}


{% block body %}
    {% spaceless %}
    <h1>Users list</h1>

    <table class="records_list">
        <thead>
            <tr>{% trans %}
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Isactive</th>
                <th>IsAdmin</th>
                <th>Actions</th>
            </tr>{% endtrans %}
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('users_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.isActive? "Yes"|trans:"No"|trans }}</td>
                <td>{{ entity.isAdmin? "Yes"|trans:"No"|trans }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('users_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <li>
                        <a href="{{ path('roles_new', { 'user_id': entity.id }) }}">permissions</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('users_new') }}">
                {{ "Add new user"|trans }}
            </a>
        </li>
    </ul>
    {% endspaceless %}
{% endblock %}
