{% extends 'PatoBundle:Default:index.html.twig' %}

{% block title %}
    Caixa
{% endblock %}

{% block bodyLeft %}
    <h1>Caixa</h1>
    
    <p>
        Você ainda não criou nenhum caixa no sistema. Este sistema permite que você crie e
        gerencie vários caixas como caixas para finanças da empresa, caixa para finanças pessoais, etc.

        <br/><br/>
        Para criar um novo caixa <a href="">clique aqui.</a>
    </p>
{% endblock %}