{% extends 'PatoBundle:Default:index.html.twig' %}

{% block title %}
    Configuração
{% endblock %}

{% block bodyLeft %}
    <h1>Configuração</h1>
    <ul>
        <li><a href="{{ path('pato_configuracao_caixa_index') }}">Caixa</a></li>
    </ul>
{% endblock %}