{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ "Roles list for"|trans }} {{ username }}</h1>


        <ul>
        {% for role,permissions in roles %}
            <li>
                {{ role|trans }}
                <ul>
                    {% for permission in permissions %}
                    <li>{{ permission|trans }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>

        <ul>
        <li>
            <a href="{{ path('roles_new', { 'user_id': user_id }) }}">
                {% trans %}Edit user permissions{% endtrans %}
            </a>
        </li>

        <li>
            <a href="{{ path('users_show', { 'id': user_id }) }}">
                {% trans %}Back to the user data{% endtrans %}
            </a>
        </li>
    </ul>
    {% endblock %}
