{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Roles creation: {{ username }}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('roles', {'user_id': user_id}) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
