{% extends 'PatoCoreBundle::layout.html.twig' %}

{% block body -%}
    <h1 class="page-title">{% trans %}Contacts{% endtrans %}</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Cellphone</th>
                <th>Address</th>
                <th>Addresscomplement</th>
                <th>Zip</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('contacts_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.cellphone }}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.addressComplement }}</td>
                <td>{{ entity.zip }}</td>
                <td>{{ entity.description }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('contacts_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('contacts_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('contacts_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
