{% extends 'PatoCoreBundle::layout.html.twig' %}

{% block body -%}
    <h1 class="page-title">New Contact</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('contacts') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        //load states by country
        loadStates = function(countrySelect) {

            var country_id = parseInt(countrySelect.value)
            var stateSelect = $('#cloudsource_patocorebundle_contacts_state');

            //disable select
            stateSelect.attr('disabled', 'disabled');

            if (country_id > 0) {

                $.getJSON('{{ path('states_by_country') }}/' + country_id, function(statesData){

                    //empty state select box
                    stateSelect.find('option').remove();

                    stateSelect.append($('<option></option>').val('0').text('{{ "Select a state"|trans }}'));

                    //fill with state data
                    $.each(statesData, function(index, stateData){
                        stateSelect.append(
                            $('<option></option>').val(stateData.id).text(stateData.state)
                        )
                    });

                    //enable select
                    stateSelect.removeAttr('disabled');
                });
            }
        }

        //load cities by state
        loadCities = function(stateSelect) {

            var state_id = parseInt(stateSelect.value)
            var citySelect = $('#cloudsource_patocorebundle_contacts_city');

            //disable select
            citySelect.attr('disabled', 'disabled');

            if (state_id > 0) {

                $.getJSON('{{ path('cities_by_state') }}/' + state_id, function(citiesData){

                    //empty city select box
                    citySelect.find('option').remove();

                    citySelect.append($('<option></option>').val('0').text('{{ "Select a city"|trans }}'));

                    //fill with city data
                    $.each(citiesData, function(index, cityData){
                        citySelect.append(
                                $('<option></option>').val(cityData.id).text(cityData.city)
                        )
                    });

                    //enable select
                    citySelect.removeAttr('disabled');
                });
            }
        }
    </script>
{% endblock %}